:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #EE4D2D;
    --border-color: #DBDBDB;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        
    }
    to {
        opacity: 1;
    }
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    margin: auto;
    position: relative;
    z-index: 1;
}


/* Button style */
.btn {
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.3rem;
    padding: 0;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.btn--normal:hover {
    background-color: #adadad;
    color: var(--white-color);
    opacity: 0.8;
}

.btn--size-s {
    height: 30px;
    font-size: 1.2rem;
    padding: 0 8px;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
}

.btn.btn--disabled {
    cursor: default;
    background-color: #c3c3c3;
    color: #949494;
}
